/* YourComponent.css */

.card-container {
    width: 17rem;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  }
  .card-container:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

  
  /* Add any other styles as needed */
  