.bg-img {
    background-image: url("https://www.junaidjamshed.com/media/wysiwyg/banner01_21.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 50vh;
 }
 