.festi{
    /* width: 80%; */
    background: #fff8ee;
}
@media screen and (max-width: 390px) {
    .promo-image-left Link img{
        padding: 0px;
      height: 400px;
    }
   
  }
  
@media screen and (max-width: 767px) {
  .promo-image-left img {

    max-width: 100%;
  
    width: 100%;
  }

}